In [1]:
import pandas as pd
df_banxico = pd.read_csv('df_banxico.csv')

In [2]:
df_banxico.head()

        fecha      tc
0  02/01/1992  3.0753
1  03/01/1992  3.0744
2  06/01/1992  3.0695
3  07/01/1992  3.0665
4  08/01/1992  3.0663

In [3]:
df_investing = pd.read_csv('df_investing.csv')
df_investing.head()

        fecha     tc
0  02/01/1992  3.075
1  03/01/1992  3.070
2  06/01/1992  3.070
3  07/01/1992  3.070
4  08/01/1992  3.070